# class 1

In [3]:
print("Laiba Arshad");

Laiba Arshad

# class 2

In [2]:
physics=90;
maths=89;
islamiat=78;
total=physics+maths+islamiat;
average=total/3;
if average >=90 and average <=100:
    prinbt("your grade is A+1");
elif average >=80 and average <=90:
    print("your grade is A+");
elif average >=70 and average <=80:
    print("your grade is A");
elif average >=60 and average <=70:
    print("your grade is B");
elif average >=50 and average <=60:
    print("your grade is C");
elif average >=40 and average <=50:
    print("your grade is D");
elif average >=33 and average <=40:
    print("your grade is E");
elif average <=32:
    print("fail");
else:
    print("invalid marks");

your grade is A+

# class 3

In [4]:
m='''Twinkle,twinkle,little star,
             How I wonder what you are!
                      Up above the world so high,
                      Like a diamond in the sky.
     Twinkle,twinkle,little star,
             How I wonder what you are'''
print(m);

Twinkle,twinkle,little star,
             How I wonder what you are!
                      Up above the world so high,
                      Like a diamond in the sky.
     Twinkle,twinkle,little star,
             How I wonder what you are

In [5]:
import sys;
print("python version");
print(sys.version);
print("python information");
print(sys.version_info);

python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
python information
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [6]:
import datetime;
now=datetime.datetime.now()
print("Current date and time is:");
print(now.strftime("%y-%m-%d %H:%M:%S"));

Current date and time is:
21-12-02 16:12:46

In [7]:
import math;
radius=float(input("enter the area of a circle"))
area=math.pi*radius*radius;
print("The radius of a circle is : ",area);

enter the area of a circle56
The radius of a circle is :  9852.03456165759

In [8]:
n=int(input("enter your first number"));
l=int(input("enter your second number"));
print("The sum of two number is :",n+l);

enter your first number70
enter your second number30
The sum of two number is : 100

In [9]:
fname=(input("enter your first name/n"))[::-1];
lname=(input("enter your last name/n"))[::-1];
print(fname+" "+lname);

enter your first name/nlaiba
enter your last name/narshad
abial dahsra

In [10]:
num=int(input("enter your number"));
remainder=num%2;
if remainder ==0:
    print(num ,"is an even number");
else:
    print(num ,"is an odd number");

enter your number30
30 is an even number

In [12]:
urdu=90;
english=78;
math=65;
pst=32;
science=23;
total=urdu+english+math+pst+science;
average=total/5;
if average >=90 and average <=100:
    print("your grade is A+1");
elif average >=80 and average <=90:
    print("yor grade is A+");
elif average >=70 and average <=80:
    print("your grade is A");
elif average >=60 and average <=70:
    print("your grade is B");
elif average >=50 and average <=60:
    print("your grade is C");
elif average >=40 and average <=50:
    print("your grade is D");
elif average >=33 and average <=40:
    print("your grade is E");
elif average <=32:
    print("fail");
else:
    print("invalid marks");

your grade is C

In [13]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print(len(a));

11

In [14]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print(sum(a));

232

In [15]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
largest_num=max(a);
print(largest_num);

89

In [17]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print([x for x in a if x<5]);

[1, 1, 2, 3]

# class 4

In [18]:
t=(1,12,2,3,4,65,6,8,9,0);
print(t);

(1, 12, 2, 3, 4, 65, 6, 8, 9, 0)

In [19]:
for i in range (12,23):
    print(i);

12
13
14
15
16
17
18
19
20
21
22

In [20]:
u="weather cloudy"
o=(len(u))
for g in range(o):
    print(u[g]);

w
e
a
t
h
e
r

c
l
o
u
d
y

In [21]:
lst=[1,2,3,4,56,7,9];
for y in lst:
    print(y);

1
2
3
4
56
7
9

In [22]:
b=[]
for t in range(43,54):
    b.append(t)
print(b);

[43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [23]:
for w in range (1,11):
    print("2 *",w,"=",2*w);

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20